.img-fluid{
    max-width: 100% !important;
    width: 100% !important;
}

.img-thumbnail{
    margin: 24px 0;
}

@media only screen and(max-width:769px){
    .col{
        width: 100% !important;
    }
}